@model Drzava


<form id="forma">
    <h3>Uređivanje države</h3>
    <input asp-for="DrzavaID" hidden />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Naziv:</label>
                <input asp-for="Naziv" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Oznaka:</label>
                <input asp-for="Oznaka" class="form-control" />
            </div>
        </div>
    </div>
   

    

</form>

<div class="pull-right">
    <button type="button" class="btn btn-default btnOdustani"><i class="fa fa-times-circle"></i> Odustani</button>
    <button type="button" class="btn btn-primary btnSubmit"><i class="fa fa-save"></i> Sačuvaj</button>
</div>

<script>
    $(".btnOdustani").on("click", function () {
        $("#ajaxDiv").hide();
    });

    $(".btnSubmit").click(function () {
        var forma = $("#forma");

        $.ajax({
            url: "@Url.Action("Uredi", "Drzave")",
            type: "POST",
            data: forma.serialize(),
            success: function (data) {
                window.location.href = "/Administracija/Drzave/Index?page=1";
            }
        });
    });
</script>