@model Drzava
@{
    ViewData["Title"] = "Dodaj";
}

<h2>Nova drzava</h2>

<hr />

<form asp-action="Dodaj" method="post">

    @if (!ViewData.ModelState.IsValid)
    {
        <div asp-validation-summary="All" class="alert alert-danger"></div>
    }

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Naziv">Naziv:</label>
                <input asp-for="Naziv" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Oznaka">Oznaka:</label>
                <input asp-for="Oznaka" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">Sacuvaj</button>
                <a asp-action="Index" class="btn btn-default">Odustani</a>
            </div>
        </div>
    </div>
</form>


