@{
    ViewData["Title"] = "Uredi";
}

@model RadniciDodajViewModel


<section id="main-content">
    <section class="wrapper">
        <section class="panel">

            <header class="panel-heading">
                <h2>Uredi</h2>
            </header>

            <div class="panel-body">

                <form asp-action="Uredi" method="post">

                    <input asp-for="@Model.Radnik.RadnikID" hidden />
                    <input asp-for="@Model.Osoba.OsobaID" hidden />


                    @if (!ViewData.ModelState.IsValid)
            {
                        <div asp-validation-summary="All" class="alert alert-danger"></div>
                    }

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Osoba.Ime">Ime:</label>
                                <input asp-for="Osoba.Ime" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Osoba.Prezime">Prezime:</label>
                                <input asp-for="Osoba.Prezime" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Osoba.DatumRodjenja">Datum rodjenja:</label>
                                <input asp-for="Osoba.DatumRodjenja" class="form-control" />
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="DrzavaID">Drzava:</label>
                                <select asp-for="DrzavaID" asp-items="Model.Drzave" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="RegijaID">Regija:</label>
                                <select asp-for="RegijaID" asp-items="Model.Regije" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="GradID">Grad:</label>
                                <select asp-for="GradID" asp-items="Model.Gradovi" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="PozicijaID">Pozicija:</label>
                                <select asp-for="PozicijaID" asp-items="Model.Pozicije" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Osoba.Email">Email:</label>
                                <input asp-for="Osoba.Email" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Radnik.DatumZaposlenja">Datum zaposlenja:</label>
                                <input asp-for="Radnik.DatumZaposlenja" class="form-control" a>
                            </div>
                        </div>
                    </div>



                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Osoba.JMBG">JMBG:</label>
                                <input asp-for="Osoba.JMBG" class="form-control" />
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Radnik.Staz">Staz:</label>
                                <input asp-for="Radnik.Staz" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Radnik.DodatakNaSatnicu">Dodatak na satnicu:</label>
                                <input asp-for="Radnik.DodatakNaSatnicu" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @*<label asp-for="Radnik..">Uloga:</label>
                                <select asp-for="" class="form-control" asp-items="Model.Uloge"></select>*@
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary">Sacuvaj</button>
                                <a asp-action="Index" class="btn btn-default">Odustani</a>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </section>

</section>
</section>
