@model MostarConstruct.Web.Areas.Poslovodja.ViewModels.OrganizacijaRadilistaDodajRadnikaVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<hr />
<div asp-validation-summary="All">

</div>
<form style="width:60%;" class="form-group" asp-controller="OrganizacijaRadilista" asp-action="SnimiRadnika">
    <label>Odaberite radnika: </label>
    @Html.DropDownListFor(model => model.RadnikId, Model.listaRadnika, new { @class = "form-control" })
    <input asp-for="RadilisteId" hidden />
    <br />
    <label>Dodjeliti do: </label>
    <input asp-for="DatumDo" required class="form-control" />
    <br />
    <label>Napomena: </label>
    <input asp-for="Napomena" class="form-control" />
    <br />
    <label>Zaduzenje: </label>
    <input asp-for="Zaduzenje" required class="form-control"/>
    <br />
    <input type="submit" class="btn btn-success" value="Dodaj" />
    <button id="odustani" class="btn btn-default"><i class="fa fa-close"></i> Odustani</button>
</form>
<script>
    $("#odustani").click(function () {
        $("#dodavanja").html("");

    })
</script>
