@{
    var trenutniKorisnik = httpContextAccessor.HttpContext.Session.GetJson<Korisnik>(Konfiguracija.LogiraniKorisnik) ?? new Korisnik();
}

<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from thevectorlab.net/flatlab/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 19 Dec 2017 18:08:09 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.html">

    <title>MostarConstruct</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.print.css" media="print" />
    <script src="~/js/jquery.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js"></script>
    @*<script src="~/js/script-custom-calendar.js"></script>*@

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/css/owl.carousel.css" type="text/css">

    <!--right slidebar-->
    <link href="~/css/slidebars.css" rel="stylesheet">

    @*qtip*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/basic/jquery.qtip.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/basic/jquery.qtip.min.js"></script>

    <!-- Custom styles for this template -->

    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style-responsive.css" rel="stylesheet" />


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css" />

    <!-- Full Calendar -->

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(function () {
            $('.dp').datepicker({
                format: 'dd.mm.yyyy',
                weekStart: 1,
                clearBtn: true,
                language: 'de-DE',
                autoclose: true,
                forceParse: false,
                calendarWeeks: true
            });
        });
    </script>

    <script>
        $(function () {
            $('#calendar').fullCalendar({
                header:
                {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                buttonText: {
                    today: 'today',
                    month: 'month',
                    week: 'week',
                    day: 'day'
                },
                events: function (start, end, timezone, callback) {
                    $.ajax({
                        url: '/Home/GetCalendarData',
                        type: "GET",
                        dataType: "JSON",
                        success: function (result) {
                            var events = [];

                            $.each(result, function (i, data) {
                                events.push(
                                    {
                                        title: data.title,
                                        description: data.desc,
                                        start: data.start_Date, //"2018-01-01", //moment(data.Start_Date).format('YYYY-MM-DD'),
                                        end: data.end_Date, //"2018-01-08", //moment(data.End_Date).format('YYYY-MM-DD'),
                                        backgroundColor: data.color,
                                        borderColor: "black"
                                    });
                            });


                            callback(events);
                        }
                    });
                },
                eventRender: function (event, element) {
                    element.qtip(
                        {
                            content: event.description
                        });
                },
            });
        });
    </script>


</head>

<body>
    <section id="container">
        <!--header start-->
        <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <i class="fa fa-bars"></i>
            </div>
            <!--logo start-->
            <a href="/home/index" class="logo">Mostar<span>Construct</span></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start  -->
                <!--  notification end -->
            </div>
            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    <li>
                        <input type="text" class="form-control search" placeholder="Search">
                    </li>
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" src="img/avatar1_small.jpg">
                            <span class="username">@trenutniKorisnik.KorisnickoIme</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li>
                                <a asp-area="" asp-controller="Racun" asp-action="Odjava"><i class="fa fa-bell-o"></i> Odjava</a>
                            </li>
                        </ul>
                    </li>

                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a class="active" asp-controller="Home" asp-action="Index">
                            <i class="fa fa-dashboard"></i>
                            <span>Početna stranica</span>
                        </a>
                    </li>

                    @if (trenutniKorisnik.IsAdmin)
                    {
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-user"></i>
                                <span>Korisnici</span>
                            </a>
                            <ul class="sub">
                                <li><a asp-area="Administracija" asp-controller="Korisnici" asp-action="Index">Prikaz</a></li>
                                <li><a asp-area="Administracija" asp-controller="Korisnici" asp-action="Dodaj">Dodaj</a></li>
                            </ul>
                        </li>

                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-location-arrow"></i>
                                <span>Lokacije</span>
                            </a>
                            <ul class="sub">
                                <li><a asp-area="Administracija" asp-controller="Drzave" asp-action="Index">Drzave</a></li>
                                <li><a asp-area="Administracija" asp-controller="Regije" asp-action="Index">Regije</a></li>
                                <li><a asp-area="Administracija" asp-controller="Gradovi" asp-action="Index">Gradovi</a></li>
                            </ul>
                        </li>

                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-truck"></i>
                                <span>Vozni park</span>
                            </a>
                            <ul class="sub">
                                <li><a asp-area="Administracija" asp-controller="Vozila" asp-action="Index">Prikaz</a></li>
                                <li><a asp-area="Administracija" asp-controller="Vozila" asp-action="Dodaj">Dodaj</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-columns"></i>
                                <span>Inventar</span>
                            </a>
                            <ul class="sub">
                                <li><a asp-area="Administracija" asp-controller="Inventar" asp-action="Index">Prikaz</a></li>
                                <li><a asp-area="Administracija" asp-controller="Inventar" asp-action="Dodaj">Dodaj</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a asp-area="Administracija" asp-controller="Aktivnosti" asp-action="Index">
                                <i class="fa fa-list-ol"></i>
                                <span>Aktivnosti</span>
                            </a>
                            @*<ul class="sub">
                                    <li><a asp-area="Administracija" asp-controller="Inventar" asp-action="Index">Prikaz</a></li>
                                </ul>*@
                        </li>

                    }
                    else if (trenutniKorisnik.IsPoslovodja)
                    {
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-user"></i>
                                <span>Radnici</span>
                            </a>
                            <ul class="sub">
                                <li><a asp-area="Poslovodja" asp-controller="Radnici" asp-action="Index">Prikaz</a></li>
                                <li><a asp-area="Poslovodja" asp-controller="Radnici" asp-action="Dodaj">Dodaj</a></li>
                                <li><a asp-area="Poslovodja" asp-controller="Radnici" asp-action="Slike">Grupna izmjena slika</a></li>
                            </ul>
                        </li>

                        <li class="sub-menu">
                            <a asp-area="Poslovodja" asp-controller="OrganizacijaRadilista" asp-action="Index"><i class="fa fa-hand-o-right"></i> Organizacija radilista</a>
                        </li>



                    }
                    else
                    {
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-paste"></i>
                                <span>Projekti</span>
                            </a>
                            <ul class="sub">
                                <li><a asp-area="ClanUprave" asp-controller="Projekti" asp-action="Index">Prikaz</a></li>
                                <li><a asp-area="ClanUprave" asp-controller="Projekti" asp-action="Dodaj">Dodaj</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-bookmark"></i>
                                <span>Radilišta</span>
                            </a>
                            <ul class="sub">
                                <li><a asp-area="ClanUprave" asp-controller="Radilista" asp-action="Index">Prikaz</a></li>
                                <li><a asp-area="ClanUprave" asp-controller="Radilista" asp-action="Index">Dodaj</a></li>
                            </ul>
                        </li>

                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-euro"></i>
                                <span>Uplate</span>
                            </a>
                            <ul class="sub">
                                <li><a asp-area="ClanUprave" asp-controller="Uplate" asp-action="Index">Prikaz</a></li>
                                <li><a asp-area="ClanUprave" asp-controller="Uplate" asp-action="Dodaj">Dodaj</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-money"></i>
                                <span>Ponude</span>
                            </a>
                            <ul class="sub">
                                <li><a asp-area="ClanUprave" asp-controller="Ponuda" asp-action="Index">Prikaz</a></li>
                                <li><a asp-area="ClanUprave" asp-controller="Ponuda" asp-action="Dodaj">Dodaj</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-paperclip"></i>
                                <span>Uvjerenja</span>
                            </a>
                            <ul class="sub">
                                <li><a asp-area="ClanUprave" asp-controller="Uvjerenja" asp-action="Index">Prikaz</a></li>
                                <li><a asp-area="ClanUprave" asp-controller="Uvjerenja" asp-action="Dodaj">Dodaj</a></li>
                            </ul>
                        </li>

                        <li class="sub-menu">
                            <a asp-area="ClanUprave" asp-controller="Izvjestaji" asp-action="Index"><i class="fa fa-reply-all"></i>Izvještaji</a>

                        </li>
                    }
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        @RenderBody()
        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                @DateTime.Now.Year &copy; Mostar Construct.

            </div>
        </footer>
        <!--footer end-->
    </section>


    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="~/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/js/jquery.scrollTo.min.js"></script>
    <script src="~/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="~/js/jquery.easy-pie-chart.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/jquery.customSelect.min.js"></script>
    <script src="~/js/respond.min.js"></script>
    <!--right slidebar-->
    <script src="~/js/slidebars.min.js"></script>

    <!--common script for all pages-->
    <script src="~/js/common-scripts.js"></script>

    <!--script for this page-->
    <script src="~/js/sparkline-chart.js"></script>
    <script src="~/js/easy-pie-chart.js"></script>
    <script src="~/js/count.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>



    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js"></script>
        <script src="~/js/script-custom-calendar.js"></script>*@

    <script>

        //owl carousel

        $(document).ready(function () {


            $("#owl-demo").owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                autoPlay: true

            });


        });

        //custom select box

        $(function () {
            $('select.styled').customSelect();
        });

        $(window).on("resize", function () {
            var owl = $("#owl-demo").data("owlCarousel");
            owl.reinit();
        });

    </script>

    

</body>

<!-- Mirrored from thevectorlab.net/flatlab/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 19 Dec 2017 18:09:06 GMT -->
</html>
